<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    index.php    [L]
    RewriteCond %{REQUEST_URI} !app/public/([^/]+)
    RewriteRule    (.*) index.php?url=$1    [QSQ, PT,L]
 </IfModule>
