<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    vendor/stonedz/pff2/public/    [L]
    RewriteCond %{REQUEST_URI} !app/public/([^/]+)
    RewriteRule    (.*) vendor/stonedz/pff2/public/$1    [L]
 </IfModule>