<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" timeoutForSmallTests="5" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="pff2">
      <directory suffix="Test.php">tests</directory>
      <exclude>vendor</exclude>
      <!--<directory suffix="Test.php">tests/system</directory>-->
    </testsuite>
  </testsuites>
</phpunit>
